.header {
    width: 90%;
    margin-inline: auto;
}

nav {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
    align-items: center;
    list-style-type: none;
    gap: 2.5rem;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #000;
    padding-left: 1.5rem;
}
